<div class="homepage-container">
  @if (hasSearch()) { @if (highlightedBreweries$ | async; as breweries) {
  <h1>Cervejarias em destaque</h1>
  <hr />
  <p-carousel
    [value]="breweries"
    [numScroll]="3"
    [numVisible]="3"
    [circular]="true"
    [showIndicators]="false"
  >
    <ng-template let-brewery pTemplate="item">
      <div class="outer-margin">
        <div class="card-wrapper" (click)="navigateToBrewery(brewery.id)">
          <div class="card">
            <img
              class="brewery-img"
              [src]="brewery.imgPath"
              [alt]="brewery.name"
            />
            <span class="text">{{ brewery.name }}</span>
            <span class="text">{{ brewery.description }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  } }
  <div class="brewery-list">
    <h2>
      {{ hasSearch() ? "Todas as Cervejarias" : "Cervejarias encontradas" }}
    </h2>
    <hr />
    @if (regularBreweries$ | async; as breweries) { @if (breweries.length > 0 )
    {
    <div class="brewery-grid">
      @for (brewery of breweries; track brewery.id) {
      <div class="brewery-card">
        <app-card
          [name]="brewery.name"
          [description]="brewery.description"
          [imgPath]="brewery.imgPath"
          (onClick)="navigateToBrewery(brewery.id)"
        ></app-card>
      </div>
      }
    </div>
    } @else {
    <div class="loading">
      <p>Nenhum resultado encontrado</p>
    </div>
    } } @else {
    <app-loading-spinner
      message="Carregando cervejarias..."
    ></app-loading-spinner>
    }
  </div>
</div>
