<div class="brewery-container">
  @if (brewery$ | async; as brewery) {
  <div class="brewery-information">
    <div class="brewery-image">
      <img [src]="brewery.imgPath" [alt]="brewery.name" />
    </div>
    <div class="brewery-details">
      <h2>{{ brewery.name }}</h2>
      <p class="brewery-description">{{ brewery.description }}</p>
    </div>
  </div>
  } @else {
  <div class="loading">
    <p>Carregando informações da cervejaria...</p>
  </div>
  }
</div>

<div class="beer-catalog">
  @if (groupedBeers$ | async; as groupedBeers) { @for (group of groupedBeers;
  track group) {
  <section>
    <h3 class="type-title">{{ group.type }}</h3>
    <hr />
    <div class="beer-list">
      @for (beer of group.beers; track beer) {
      <app-beer-card
        [beer]="beer"
        class="beer-card"
        (onClick)="showAddToCart(beer)"
      >
      </app-beer-card>
      }
    </div>
  </section>
  } }
</div>

<app-add-to-cart
  [visible]="isAddToCartVisible"
  [breweryId]="(brewery$ | async)!.id"
  [beer]="currentSelectedBeer"
  (onHide)="this.closeAddToCart()"
></app-add-to-cart>
