<div
  class="card"
  [ngClass]="{
    'button-card':
      this.isCardButtonVariant() ||
      this.isDetailedCardButtonVariant() ||
      this.isSimpleCardButtonVariant()
  }"
  (click)="this.onClick.emit()"
>
  <img
    [class]="isSimpleCardButtonVariant() ? 'big-card-img' : 'card-img'"
    [src]="this.imgPath"
    [alt]="this.name"
  />
  <div class="card-info">
    <div class="card-details">
      @if(isDetailedCardButtonVariant()) {
      <a class="card-owner">{{ onwerName }}</a>
      }
      <strong
        ><a class="card-name">{{ this.name }}</a></strong
      >
      <a class="card-description">{{ this.description }}</a>
    </div>
    <ng-content></ng-content>
  </div>
</div>
