.counter-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .counter-value {
    font-size: 1.2rem;
    min-width: 2rem;
    text-align: center;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.shake {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
